@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

* { /**reset padrão dos navegadores de forma simples **/
    margin: 0;
    padding: 0;
}

body {
    height: 100vh; /**vh = viewport height**/
    box-sizing: border-box; /** o border-box garante a proporção dos elementos**/
    background-color: #000000; /**altera a cor de fundo de todo o <body>**/
    color: #ffffff; /**altera a cor do texto de todo o <body>**/
}

.titulo-destaque { /**Utilizamos o . para indicar que se trata de uma classe **/
    color: #2b076e;
}

.apresentacao {
    margin: 10%;
    display: flex; /** elementos alinhados **/
    align-items: center; /** elementos ao centro **/
    justify-content: space-between; /** espaçamento dos elementos filhos**/
}

.apresentacao__conteudo {
    width: 615px;
}

.apresentacao__conteudo__titulo {
    font-size: 36px;
    font-family: 'Krona One', sans-serif;
    
}

.apresentacao__conteudo__texto {
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
}

.apresentacao__links {
    display: flex;
    justify-content: space-between;
}

.apresentacao__links__link {
    background-color: #2b076e;
    color: #538fd3;
    width: 280px;
    text-align: center;
    border-radius: 16px; /*raio de arredondamento de bordas*/
    padding: 21.5px 0px; /*primeiro valor é vertical e o segundo é horizontal*/
    text-decoration: none; /*decoração do texto*/
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 600px;
}